audio::-webkit-media-controls-panel {
    background-color: rgba(90, 90, 90, 0.9);
    box-sizing: border-box;
    border: 1px solid lightslategray;
    border-radius: 10px;
    position: relative;
    z-index: 0;
}
audio::-webkit-media-controls-mute-button {
}
audio::-webkit-media-controls-play-button {

}
audio::-webkit-media-controls-timeline-container {

}
audio::-webkit-media-controls-current-time-display {
}
audio:first-child {
    opacity: 0;
}
audio::-webkit-media-controls-time-remaining-display {

}
audio::-webkit-media-controls-timeline {

}
audio::-webkit-media-controls-volume-slider-container {

}
audio::-webkit-media-controls-volume-slider {

}
audio::-webkit-media-controls-seek-back-button {

}
audio::-webkit-media-controls-seek-forward-button {

}
audio::-webkit-media-controls-fullscreen-button {

}
audio::-webkit-media-controls-rewind-button {

}
audio::-webkit-media-controls-return-to-realtime-button {

}
audio::-webkit-media-controls-toggle-closed-captions-button {

}
.musicSongName {
    font-size: 23px;
    font-weight: 600;
}
.musicAuthorName {
}
.musicImage {
    display: block;
    max-width: 50%;
    border-radius: 10px;
}
.musicWrapper {
    padding: 20px 0 0 20px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.countWrapper {
    max-width: 49%;
    min-width: 320px;
    border: 1px solid lightslategray;
    background-color: rgba(90, 90, 90, 0.35);
    border-radius: 10px;
    box-sizing: border-box;
    padding: 10px;
    align-items: center;
    display: flex;
    gap: 10px;
    flex-direction: column;
}
.songWrapper {
    border: 1px solid lightslategray;
}