.userswrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    justify-content: center;
}
.buttons {
    margin-top: -10px;
    display: flex;
    gap: 10px;
}
.wrapper {
    border: 1px solid lightslategray;  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 20px 0 0 20px;
    padding: 10px;
    gap: 10px;
    z-index: 2;
}
.userscontainer {
    width: 300px;
    border: none;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    overflow: hidden;
    gap: 10px;
    justify-content: center;
    padding: 10px;
    border: 1px solid lightslategray;
}

.lefthandler {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: none;
}
.avimage {
    width: 100px;
    border-radius: 50%;
}
.followbtn {
    width: 100px;

}
.righthandler {
    width: 60%;
}
.prewBtn , .followbtn {
    box-sizing: border-box;
    max-width: 300px;
    outline: none;
    border: none; 
    height: 40px;
    line-height: 40px;
    font-size: 17px;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
    user-select: none;
    appearance: none;
    touch-action: manipulation;
    border: 1px solid lightslategray;  

}
.prewBtn:focus-visible {
    box-shadow: 0 0 0 2px #666;
}
.prewBtn:hover {
    background-color: #DBE7F2;
}
.prewBtn:active {
    transform: scale(0.96);
}
.prewBtn:disabled {
    background-color: #fff;
    pointer-events: none;
    opacity: 0.65;
}
.fullname {
    font-weight: 600;
    font-size: 15px;
}

