.userswrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    justify-content: center;
}
.buttons {
    display: flex;
    gap: 10px;
}

.wrapper {
    border: 1px solid lightslategray;  
    background-color: rgba(90, 90, 90, 0.35);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 20px 0 0 20px;
    padding: 10px;
    gap: 10px;
    z-index: 2;
}
.userscontainer {
    width: 300px;
    padding: 10px;
    gap: 10px;
    border: none;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    overflow: hidden;
    justify-content: center;
    border: 1px solid lightslategray;
    background-color:rgba(180, 180, 180, 0.35) ;
    border-radius: 10px;
}

.lefthandler {
    border: 1px solid lightslategray;
    border-radius: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.avimage {
    width: 120px;
    overflow: hidden;
    box-sizing: border-box;
}
.followbtn {
    width: 120px;
}
.righthandler {
    height: 100%;
    overflow: hidden;
    width: 60%;
}
.prewBtn , .followbtn {
    box-sizing: border-box;
    max-width: 300px;
    outline: none;
    border: none; 
    height: 40px;
    line-height: 40px;
    font-size: 17px;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
    user-select: none;
    appearance: none;
    touch-action: manipulation;
    border: 1px solid lightslategray;
    background-color: rgba(180,180,180,0.35);
    color: white;
    border-radius: 10px;

}
.prewBtn:focus-visible {
    box-shadow: 0 0 0 2px #666;
}
.prewBtn:hover {
    background-color: #DBE7F2;
}
.prewBtn:active {
    transform: scale(0.96);
}
.prewBtn:disabled {
    background-color: #fff;
    pointer-events: none;
    opacity: 0.65;
}
.fullname {
    box-sizing: border-box;
    font-weight: 600;
    font-size: 16px;
}
.blockleft {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 5px;
}
.status {
    box-sizing: border-box;
}

