.formcontrol {

}

.formcontrol.error input,
.formcontrol.error textarea
{
    border: 1px solid red;
}
.formcontrol.error span
{
    color: red;
}
.formError {
    color: red;
    border: 1px solid red;
}