.main__container {
  display: flex;
  min-width: 320px;
  box-sizing: border-box;
  width: inherit;
}

.profileWrapper {
  box-sizing: border-box;
  padding: 20px 0 0 20px;
  width: 100%;
}

@media (max-width: 1000px) {
  .profileWrapper {
    box-sizing: border-box;
    padding: 0;
    min-width: 320px;
  }
}