.aside__container {
  margin-top: 20px;
    grid-area: s;
    display: flex;
    flex-direction: column;
    }
  .aside__button {
    display: flex;
    text-decoration: none;
    color: black;
    min-width: 320px;
    height: 50px;
    border: 1px solid lightslategray;


    justify-content: center;
    align-items: center;
  }
  @media (max-width: 1400px) {
    .aside__container {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      flex-wrap: wrap;
      box-sizing: border-box;
    }
  }
  .active {
    display: flex;
    text-decoration: none;
    font-weight: 600;
    height: 50px;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .aside__unit {
    border: 1px solid lightslategray;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-width: 320px;
    box-sizing: border-box;
    padding: 10px;
  }
  .friendContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }
  .friendImg {
    width: 70px;
  }
  .friendsWrapper {
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
    display: flex;
  }
  .title {
    text-align: center;
  }