.aside__container {
  margin-top: 20px;
    grid-area: s;
    display: flex;
    flex-direction: column;
    color: white;
    border-radius: 10px;
    gap: 20px;
    }
  .aside__button {
    display: flex;
    text-decoration: none;
    width: 320px;
    height: 50px;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
  }
  @media (max-width: 1400px) {
    .aside__container {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      flex-wrap: wrap;
      box-sizing: border-box;
    }
  }
  .active {
    display: flex;
    text-decoration: none;
    font-weight: 600;
    height: 50px;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgba( 180, 180, 180, 0.35 );
  }

  .aside__units {
    border: 1px solid lightslategray;
    border-radius: 10px;
    background-color: rgba(90, 90, 90, 0.35);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-width: 320px;
    box-sizing: border-box;
  }
  .aside__units:last-child {
    border: 1px solid lightslategray;
    border-radius: 10px;
    background-color: rgba(90, 90, 90, 0.35);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-width: 320px;
    box-sizing: border-box;
    padding: 10px;
    gap: 10px;
  }
  .friendContainer {
    background-color: rgba( 180, 180, 180, 0.35 );
    box-sizing: border-box;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }
  .friendImg {
    width: 70px;
    border-radius: 50%;
    border: 1px solid lightslategray;
    box-sizing: border-box;
  }
  .friendsWrapper {
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
    display: flex;
  }
  .title {
    text-align: center;
    font-weight: 600;

  }