.news {
    padding: 20px 0 0 20px;
    box-sizing: border-box;
    min-width: 320px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;

}
.newsWrapper {
    border: 1px solid lightslategray;
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.title {
    border: 1px solid lightslategray;
    font-size: 25px;
    font-weight: 600;

}
.imageWrapper {
    border: 1px solid lightslategray;

}
.image {
    width: 600px;
}
@media (max-width: 450px) {
    .image {
        width: 240px;
    }
}
.description {
    border: 1px solid lightslategray;
}
.author {
    border: 1px solid lightslategray;
}