.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
}


.app-wrapper {
  display: grid;
  grid-template-areas: "h h h"
  "s m m";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  max-width: 1054px;
  margin: 0 auto;
  height: 100vh;

}
@media (max-width: 1200px) {
  .app-wrapper {
    /* display: grid;
    grid-template-areas: "h h h"
    "s s s"
    "m m m"; */
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    /* grid-gap: 10px; */
    margin: 0 auto;
    height: 100vh;
    ;
  }
}
:root {
  --main-bg-color: ;
}
/* Header */


/* Sidebar */



/* Maincontent */


body {
  padding-top: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: white;
  background: url(./assets/images/469536.webp);
}
a {
  color: white;
}