.dialogscontainer {
    grid-area: m;
    min-width: 320px;
    box-sizing: border-box;
    border: 1px solid lightslategray;
    padding: 10px;
    height: 700px;

}
.dialogsWrapper {
    box-sizing: border-box;
    padding: 20px 0 0 20px;
}

.dialogs {
    display: flex;
    box-sizing: border-box;
    gap: 10px;
}
.dialogsitems {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}
.dialogsitems a {
    width: 75px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border: 1px solid lightslategray;}
.dialogsitems a.active {
}
.dialogsmessages {
    padding: 10px;
    border: 1px solid lightslategray;
    height: 680px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    gap: 5px;

}
.dialogsmessages:last-child {
    align-items: center;
    
}
.message {
    box-sizing: border-box;
    padding: 5px;
    border: 1px solid lightslategray;

}
.messageWrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.main__pc_inp {
    width: 100%;
    box-sizing: border-box;
    border: none;
    border: 1px solid lightslategray;

}
.main__pc_but {
    width: 100%;
    box-sizing: border-box;
    border: none;
    box-sizing: border-box;
    padding: 5px;
    font-weight: 600;
    border: 1px solid lightslategray;
}
.formWrapper {
    box-sizing: border-box;
    padding: 5px;
    width: 100%;
    border-radius: 5px;
}